/* SongList.css */
*{
   font-family: 'Kanit', sans-serif; 
   padding: 10px;
   margin: 0;
   box-sizing: border-box;

}

body{
    background-color: #000000;
    color: #fff;

}
.game-page-title{
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 20px 0;
  color: #f9e22a;
}

.instructions{
  text-align: center;
  font-size: 1.7rem;
  color: #ccc;
  margin-bottom: 10px;
}

.song-list {
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Stack items in a column */
    gap: 20px; /* Space between items */
    padding: 20px;
  }
  
  .music-card {
    display: flex;
    background-color: #222;
    border: 2px solid #222;
    border-radius: 8px;
    padding: 30px; /* Increased padding for larger items */
    text-align: left;
    transition: transform 0.2s, box-shadow 0.2s;
    height: 150px; /* Set a fixed height for song items */
    align-items: center;
    justify-content: space-between;
    
  }
  

  

  .card-img-top{
    height: 500px;
  min-width: 200px;
  max-width: 100%;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8), 4px 4px #f9e22a;
  
  
  }
  .h5-font-weight-bold{
    padding-top: 50px;
    font-size: 1.1rem;
    color: #ccc;
    margin-bottom: 40px;
    text-align: center;

  }
  .mb-0{
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.8rem;
    color: #ff4d4d;
  }
  /* Input and Buttons */
input.form-control {
  border-radius: 5px;
  padding: 10px;
  font-size: 1.1rem;
  margin-bottom: 15px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
}

button.btn-info {
  background-color: #2980b9;
  border: none;
}

button.btn-primary {
  background-color: #27ae60;
  border: none;
}

button.btn-secondary {
  background-color: #95a5a6;
  border: none;
}

/* Center the buttons */
.d-flex {
  margin-top: 20px;
}

/* Score Display */
p {
  text-align: center;
  font-size: 1.2rem;
  color: #2c3e50;
}
  
